.box {
  width: 225px;
  height: max-content;
  background-color:rgb(52, 52, 52);
  border-radius: 20px;
  border: none;
}

body {
  background-color: black;
}

.pict {
  border-radius: 10px;
}

h1 {
  color: #3aff00;
  font-size: 24px;
}

p {
  color: white;
  font-size: 18px;
}

button {
  width: 200px;
  height: 37px;
  border: 3px solid #3aff00;
  color: #3aff00;
  background-color: rgb(52, 52, 52);
  border-radius: 10px;
}

del {
  font-size: 10px;
}